.apexcharts-legend-series .apexcharts-legend-marker {
  left: -4px !important;
  right: -4px !important;
}

.apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series,
.apexcharts-legend.apx-legend-position-top .apexcharts-legend-series {
  gap: 8px;
}
.apexcharts-legend-series {
  display: flex;
  gap: 8px;
}

.apexcharts-tooltip-title {
  margin-bottom: 0;
}

.apexcharts-canvas .apexcharts-tooltip-series-group.apexcharts-active, .apexcharts-canvas .apexcharts-tooltip-series-group:last-child {
  padding-bottom: 0px;
}

html[dir='rtl'] .apexcharts-tooltip .apexcharts-tooltip-marker {
  margin-left: 10px;
  margin-right: 0px;
}
