@layer {
  .pc-header {
    @apply fixed ltr:right-0 rtl:left-0 
      ltr:max-lg:left-0 ltr:lg:left-sidebar-width 
      rtl:max-lg:right-0 rtl:lg:right-sidebar-width 
      flex h-header-height z-[1025] backdrop-blur-[7px] 
      bg-theme-headerbg dark:bg-themedark-headerbg 
      text-theme-headercolor dark:text-themedark-headercolor 
      transition-all duration-200 ease-in-out;
  }

  .pc-header .pc-head-link {
    @apply w-11 h-11 rounded-lg relative flex items-center justify-center mx-1 text-theme-headercolor;
  }

  .pc-header .pc-head-link:after {
    @apply content-[""] rounded-full z-[1] absolute transition inset-0 scale-0;
  }

  .pc-header .pc-head-link:hover:after {
    @apply rounded scale-100;
  }

  .pc-header .pc-head-link i,
  .pc-header .pc-head-link svg,
  .pc-header .pc-head-link img {
    @apply relative z-[5] transition;
  }

  .pc-header .pc-head-link i {
    @apply text-2xl leading-none;
  }

  .pc-header .pc-head-link svg {
    @apply w-6 h-6;
  }

  .pc-header .pc-head-link:hover i,
  .pc-header .pc-head-link:hover svg {
    @apply scale-[1.08];
  }

  .pc-header .pc-h-item.dropdown {
    @apply max-sm:static;
  }

  .pc-header .pc-h-item.dropdown .dropdown-menu {
    @apply max-sm:min-w-[calc(100vw_-_30px)] 
      max-sm:!left-[15px] max-sm:!right-[15px] 
      max-sm:!top-full max-w-full;
  }

  .pc-header .pc-h-item.dropdown .dropdown-menu:not(.dropdown-menu-end) {
    @apply rtl:!right-0 rtl:!left-auto;
  }

  .pc-header .pc-h-item.dropdown.drp-show .dropdown-menu {
    @apply max-sm:!transform-none;
  }

  .pc-header .dropdown-menu.dropdown-notification {
    @apply sm:min-w-[450px];
  }

  .pc-header .dropdown-menu.dropdown-notification .card {
    @apply cursor-pointer hover:bg-theme-activebg dark:hover:bg-themedark-activebg;
  }

  .pc-header .dropdown-menu.dropdown-user-profile {
    @apply sm:min-w-[352px];
  }

  .pc-header .dropdown-menu.dropdown-user-profile .dropdown-item {
    @apply flex items-center rounded-lg justify-between;
  }

  .offcanvas.offcanvas-end.pc-announcement-offcanvas {
    @apply w-[474px] z-[1028];
  }
  .offcanvas.offcanvas-end.pc-announcement-offcanvas:not(.show) {
    @apply right-[-474px];
  }

  .offcanvas.offcanvas-end.pc-announcement-offcanvas .offcanvas-body {
    @apply h-[calc(100vh_-_68px)];
  }
}
