@use '../variables' as *;

// Outline Card
.v-card--variant-outlined {
  border-color: rgba(var(--v-theme-borderLight), 1);

  .v-divider {
    border-color: rgba(var(--v-theme-borderLight), 0.8);
  }
}

// Elevated Card
.v-card--variant-elevated:not([class*="elevation-"]) {
  box-shadow: var(--v-card-shadow);
}

.v-card {
  .v-card-title {
    &.text-headline-small {
      font-weight: 600;
      line-height: 1.57;
    }
  }
}

.card-hover-border {
  border: 1px solid rgb(var(--v-theme-borderLight));

  &:hover {
    border: 1px solid rgb(var(--v-theme-primary));
  }
}