.v-text-field input {
  font-size: 0.875rem;
}

.v-field__outline {
  color: rgb(var(--v-theme-inputBorder));
  --v-field-border-opacity: 1;
}
.inputWithbg {
  .v-field--variant-outlined {
    background-color: rgba(0, 0, 0, 0.025);
  }
}

.v-select {
  .v-field {
    font-size: 0.875rem;
    .v-field__input {
      > input {
        height: 90%;
      }
    }
  }
}

.v-autocomplete__selection {
  height: 1.8rem;
  font-size: 0.75rem;
}
