.v-footer {
  margin-top: auto;
  position: unset;

  &.footer {
    padding: 24px 16px 0px;
    background: rgb(var(--v-theme-containerBg));
  }

  a {
    text-decoration: unset;

    &:hover {
      text-decoration: underline;
    }
  }
}