<div class="row">
  <div class="col-md-6">
    <app-card cardTitle="Primary Color">
      <div class="bg-primary-50">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Blue-1</p>
              <p class="m-b-0 f-w-600 mat-body">#E9F0FF</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">Primary.lighter</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-primary-100">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Blue-2</p>
              <p class="m-b-0 f-w-600 mat-body">#DAE6FF</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">Primary[100]</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-primary-200">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Blue-3</p>
              <p class="m-b-0 f-w-600 mat-body">#B5CCFF</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">Primary[200]</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-primary-300">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Blue-4</p>
              <p class="m-b-0 f-w-600 mat-body">#90B3FF</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">Primary.light</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-primary-400 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Blue-5</p>
              <p class="m-b-0 f-w-600 mat-body">#6B99FF</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">Primary[400]</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-primary-500 text-white block-border">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Blue-6</p>
              <p class="m-b-0 f-w-600 mat-body">#4680FF</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">Primary.main</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-primary-600 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Blue-7</p>
              <p class="m-b-0 f-w-600 mat-body">#2281DF</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">Primary.dark</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-primary-700 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Blue-8</p>
              <p class="m-b-0 f-w-600 mat-body">#1C76DA</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">Primary.[700]</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-primary-800 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Blue-9</p>
              <p class="m-b-0 f-w-600 mat-body">#176CD6</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">Primary.darker</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-primary-900 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Blue-10</p>
              <p class="m-b-0 f-w-600 mat-body">#0D59CF</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">Primary.900</p>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Secondary Color">
      <div class="bg-accent-100">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Grey-1</p>
              <p class="m-b-0 f-w-600 mat-body">#F8F9Fa</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">secondary.lighter</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-accent-100">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Grey-2</p>
              <p class="m-b-0 f-w-600 mat-body">#F8F9Fa</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">secondary[100]</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-accent-200">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Grey-3</p>
              <p class="m-b-0 f-w-600 mat-body">#F3F5F7</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">secondary[200]</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-accent-300">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Grey-4</p>
              <p class="m-b-0 f-w-600 mat-body">#DBE0E5</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">secondary.light</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-accent-400 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Grey-5</p>
              <p class="m-b-0 f-w-600 mat-body">#BEC8D0</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">secondary[400]</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-accent-500 text-white block-border">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Grey-6</p>
              <p class="m-b-0 f-w-600 mat-body">#8996A4</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">secondary.main</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-accent-600 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Grey-7</p>
              <p class="m-b-0 f-w-600 mat-body">#5B6B79</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">secondary.dark</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-accent-700 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Grey-8</p>
              <p class="m-b-0 f-w-600 mat-body">#3E4853</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">secondary.[700]</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-accent-800 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Grey-9</p>
              <p class="m-b-0 f-w-600 mat-body">#1D2630</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">secondary.darker</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-accent-900 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Grey-10</p>
              <p class="m-b-0 f-w-600 mat-body">#131920</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">secondary.900</p>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-4">
    <app-card cardTitle="Success Color">
      <div class="bg-success-100">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Green-1</p>
              <p class="m-b-0 f-w-600 mat-body">#C0E5D9</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">success.lighter</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-success-300">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Green-4</p>
              <p class="m-b-0 f-w-600 mat-body">#6BC2A5</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">success.light</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-success-500 text-white block-border">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Green-6</p>
              <p class="m-b-0 f-w-600 mat-body">#2CA87F</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">success.main</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-success-700 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Green-8</p>
              <p class="m-b-0 f-w-600 mat-body">#21976C</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">success.dark</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-success-900 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Green-10</p>
              <p class="m-b-0 f-w-600 mat-body">#107D4F</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">success.darker</p>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-4">
    <app-card cardTitle="Error Color">
      <div class="bg-warn-100">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Red-1</p>
              <p class="m-b-0 f-w-600 mat-body">#F5BEBE</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">error.lighter</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-warn-300">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Red-4</p>
              <p class="m-b-0 f-w-600 mat-body">#E76767</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">error.light</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-warn-500 text-white block-border">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Red-6</p>
              <p class="m-b-0 f-w-600 mat-body">#DC2626</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">error.main</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-warn-700 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Red-8</p>
              <p class="m-b-0 f-w-600 mat-body">#D31C1C</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">error.dark</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-warn-900 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Red-10</p>
              <p class="m-b-0 f-w-600 mat-body">#C50D0D</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">error.darker</p>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-4">
    <app-card cardTitle="Warning Color">
      <div class="bg-warning-100">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Gold-1</p>
              <p class="m-b-0 f-w-600 mat-body">#F7DCB3</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">warning.C0E5D9</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-warning-300">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Gold-4</p>
              <p class="m-b-0 f-w-600 mat-body">#EDAD4D</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">warning.light</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-warning-500 text-white block-border">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Gold-6</p>
              <p class="m-b-0 f-w-600 mat-body">#E58A00</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">warning.main</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-warning-700 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Gold-8</p>
              <p class="m-b-0 f-w-600 mat-body">#DE7700</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">warning.dark</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-warning-900 text-white">
        <div class="color-block">
          <div class="color-code">
            <div class="color-code-inner">
              <p class="m-b-0 mat-caption">Gold-10</p>
              <p class="m-b-0 f-w-600 mat-body">#D35A00</p>
            </div>
          </div>
          <div class="color-name">
            <div class="color-code-inner">
              <p class="m-b-0 f-w-600">warning.darker</p>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
