@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';
@use 'vuetify/lib/styles/tools/functions' as *;
@use "./grid/grid-breakpoints" as *;

// Global font size and border radius
$border-radius-root: 8px;
$body-font-family: Inter var !default;
$btn-font-weight: 400 !default;
$btn-letter-spacing: 0 !default;

// Custom Variables
// colors
$white: #fff !default;

// Global Shadow
$box-shadow: 0px 8px 24px rgba(19, 25, 32, 0.08);

$theme-colors: (
  primary: var(--v-theme-primary),
  secondary: var(--v-theme-secondary),
  success: var(--v-theme-success),
  info: var(--v-theme-info),
  warning: var(--v-theme-warning),
  error: var(--v-theme-error)
);

// Global Typography
@use 'vuetify/styles' with ($grid-breakpoints: $custom-grid-breakpoints,
  // This will false all colors which is not necessary for theme
  $color-pack: false,

  // global font family
  $body-font-family: $body-font-family,
  $heading-font-family: $body-font-family,

  // Global Radius as per breakeven point
  $rounded: ((0: 0,
      'sm': $border-radius-root * 0.5,
      null: $border-radius-root,
      'md': $border-radius-root * 1,
      'lg': $border-radius-root * 1.5,
      'xl': $border-radius-root * 6,
      'pill': 9999px,
      'circle': 50%,
      'shaped': $border-radius-root * 6 0)),

  // Box Shadows

// Box Shadows
$shadow-key: (
  1: (0px 1px 2px 0px rgba(19,25,32, 0.03)),
  2: (0px 1px 2px 0px rgba(19,25,32, 0.03)),
  3: (0px 1px 3px 0px rgba(19,25,32, 0.03)),
  4: (0px 2px 3px 0px rgba(19,25,32, 0.03)),
  5: (0px 8px 24px rgba(var(--v-shadow-key-umbra-color), var(--v-shadow-opacity)))
),

$shadow-ambient: (
  1: (0px 1px 3px 1px rgba(0,0,0, 0.15)),
  2: (0px 2px 6px 2px rgba(0,0,0,0.15)),
  3: (0px 4px 8px 3px rgba(0,0,0,0.15)),
  4: (0px 6px 10px 4px rgba(0,0,0, 0.15)),
  5: (0 0 transparent)
),

// Global font size
$font-size-root: 1rem,
$typography: ('display-large': ('size': 2.375rem,
      'weight': 600,
      'letter-spacing': normal,
      'line-height': 1.21,
      'font-family': inherit),
    'display-medium': ('size': 1.875rem,
      'weight': 600,
      'letter-spacing': normal,
      'line-height': 1.27,
      'font-family': inherit),
    'display-small': ('size': 1.5rem,
      'weight': 600,
      'letter-spacing': normal,
      'line-height': 1.33,
      'font-family': inherit),
    'headline-large': ('size': 1.25rem,
      'weight': 600,
      'letter-spacing': normal,
      'line-height': 1.4,
      'font-family': inherit),
    'headline-medium': ('size': 1rem,
      'weight': 600,
      'letter-spacing': normal,
      'line-height': 1.5,
      'font-family': inherit),
    'headline-small': ('size': 0.875rem,
      'weight': 400,
      'letter-spacing': normal,
      'line-height': 1.57,
      'font-family': inherit),
    'body-large': ('size': 0.875rem,
      'weight': 600,
      'letter-spacing': normal,
      'line-height': 1.57,
      'font-family': inherit),
    'body-small': ('size': 0.75rem,
      'weight': 500,
      "letter-spacing": normal,
      'line-height': 1.66,
      'font-family': inherit),
    'body-medium': ('size': 0.875rem,
      'weight': 400,
      'letter-spacing': 0,
      'line-height': 1.57,
      'font-family': inherit),
    'label-large': ('size': 0.75rem,
      'weight': 400,
      'line-height': 1.66,
      'font-family': inherit),
    'button': ('size': 0.875rem,
      'weight': 500,
      'font-family': inherit,
      'text-transform': capitalize),
    'label-small': ('size': 0.75rem,
      'weight': 400,
      'letter-spacing': 0,
      'font-family': inherit),
    'label-medium': ('size': 0.75rem,
      'weight': 400,
      'font-family': inherit,
      'line-height': 1.67,
      'letter-spacing': 0,
      'text-transform': uppercase))
      );