@import './variables';
@import 'vuetify/styles/main.sass';
@import './override';
@import './layout/container';
@import './layout/sidebar';
@import './layout/footer';
@import './layout/topbar';

@import './components/VAlert';
@import './components/VList';
@import './components/VButtons';
@import './components/VCard';
@import './components/VBadge';
@import './components/VBreadcrumb';
@import './components/VPagination';
@import './components/VField';
@import './components/VInput';
@import './components/VNavigationDrawer';
@import './components/VShadow';
@import './components/VTextField';
@import './components/VTextarea';
@import './components/VTimeline';

@import './pages/dashboards';
@import './pages/authentication';

@import 'vue3-perfect-scrollbar/style.css';
