<!-- Required Js -->
<script src="../assets/js/plugins/simplebar.min.js"></script>
<script src="../assets/js/plugins/popper.min.js"></script>
<script src="../assets/js/icon/custom-font.js"></script>
<script src="../assets/js/plugins/feather.min.js"></script>
<script src="../assets/js/component.js"></script>
<script src="../assets/js/theme.js"></script>
<script src="../assets/js/script.js"></script>
<!-- Buy Now Script -->
<script defer src="https://fomo.codedthemes.com/pixel/CDkpF1sQ8Tt5wpMZgqRvKpQiUhpWE3bc"></script>

@@if (pc_dark_layout != ""){
<script>
  layout_change('@@pc_dark_layout');
</script>
} @@if (pc_theme_contrast != '') {
<script>
  layout_theme_contrast_change('@@pc_theme_contrast');
</script>
} @@if (pc_box_container != '') {
<script>
  change_box_container('@@pc_box_container');
</script>
} @@if (pc_caption_show != '') {
<script>
  layout_caption_change('@@pc_caption_show');
</script>
} @@if (pc_rtl_layout != '') {
<script>
  layout_rtl_change('@@pc_rtl_layout');
</script>
} @@if (pc_preset_theme != ""){
<script>
  preset_change('@@pc_preset_theme');
</script>
} @@if (pc_theme_layout != ""){
<script>
  main_layout_change('@@pc_theme_layout');
</script>
}
