<!-- [ Nav ] start -->
<nav
  class="bg-theme-cardbg dark:bg-themedark-cardbg bg-opacity-75 dark:bg-opacity-75 fixed top-0 z-50 w-full backdrop-blur shadow-[0_0_24px_rgba(27,46,94,.05)] dark:shadow-[0_0_24px_rgba(27,46,94,.05)]"
>
  <div class="container">
    <div class="static flex py-4 items-center justify-between sm:relative">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between">
        <div class="flex flex-1 flex-shrink-0 items-center justify-between">
          <img class="h-7 w-auto" src="../assets/images/logo-dark.svg" alt="Your Company" />
        </div>
        <div class="grow">
          <div class="justify-end flex flex-row space-x-2 p-0 me-3">
            <a
              href="https://phoenixcoded.gitbook.io/able-pro"
              class="hidden sm:inline-block text-theme-bodycolor text-opacity-75 hover:text-opacity-100 dark:text-themedark-bodycolor dark:text-opacity-75 dark:hover:text-opacity-100 rounded-md px-3 py-2 text-base font-medium transition-all"
            >
              Documentation
            </a>
            <a
              href="#"
              class="hidden sm:inline-block text-theme-bodycolor text-opacity-75 hover:text-opacity-100 dark:text-themedark-bodycolor dark:text-opacity-75 dark:hover:text-opacity-100 rounded-md px-3 py-2 text-base font-medium transition-all"
            >
              Dashboard
            </a>
            <a
              href="https://phoenixcoded.gitbook.io/able-pro"
              type="button"
              class="flex sm:hidden items-center justify-center bg-gray-200 dark:bg-gray-200/10 text-gray-900 dark:text-white/80 hover:bg-gray-900 hover:text-white focus:ring-white focus:ring-offset-gray-800 h-10 w-10 rounded-full p-1 focus:outline-none focus:ring-2 focus:ring-offset-2"
            >
              <i class="ti ti-file-text"></i>
            </a>
            <a
              href="../dashboard/index.html"
              type="button"
              class="flex sm:hidden items-center justify-center bg-gray-200 dark:bg-gray-200/10 text-gray-900 dark:text-white/80 hover:bg-gray-900 hover:text-white focus:ring-white focus:ring-offset-gray-800 h-10 w-10 rounded-full p-1 focus:outline-none focus:ring-2 focus:ring-offset-2"
            >
              <i class="ti ti-dashboard"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="flex items-center">
        <a
          href="https://github.com/phoenixcoded/able-pro-free-admin-dashboard-template"
          type="button"
          class="flex items-center justify-center bg-gray-200 dark:bg-gray-200/10 text-gray-900 dark:text-white/80 hover:bg-gray-900 hover:text-white focus:ring-white focus:ring-offset-gray-800 h-10 w-10 rounded-full p-1 focus:outline-none focus:ring-2 focus:ring-offset-2"
        >
          <i class="ti ti-brand-github"></i>
        </a>
        <a
          href="https://codedthemes.com/item/able-pro-tailwind-css-admin-dashboard/"
          target="_blank"
          class="btn-success btn ltr:ml-3 rtl:mr-3"
        >
          <span class="hidden md:inline-block">Purchase Now</span>
          <i class="ti ti-external-link"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- [ Nav ] start -->
