$grey-theme: (
  50: #ffffff,
  100: #f8f9fa,
  200: #f3f5f7,
  300: #dbe0e5,
  400: #bec8d0,
  500: #8996a4,
  600: #5b6b79,
  700: #3e4853,
  800: #1d2630,
  900: #131920,
  A100: #e4f1ff,
  A200: #b2d5fe,
  A400: #7ebaff,
  A700: #64adff,
  contrast: (
    50: #1d2630,
    100: #131920,
    200: #1d2630,
    300: #3e4853,
    400: #5b6b79,
    500: #8996a4,
    600: #bec8d0,
    700: #dbe0e5,
    800: #f3f5f7,
    900: #f8f9fa,
    A100: #e4f1ff,
    A200: #b2d5fe,
    A400: #7ebaff,
    A700: #64adff
  )
);

$blue-theme: (
  50: #e9f0ff,
  100: #dae6ff,
  200: #b5ccff,
  300: #90b3ff,
  400: #6b99ff,
  500: #4680ff,
  600: #2281df,
  700: #1c76da,
  800: #176cd6,
  900: #0d59cf,
  A100: #ffffff,
  A200: #ffffff,
  A400: #cfd8ff,
  A700: #b6c4ff,
  contrast: (
    50: #dae6ff,
    100: #176cd6,
    200: #1c76da,
    300: #90b3ff,
    400: #2281df,
    500: #4680ff,
    600: #6b99ff,
    700: #90b3ff,
    800: #b5ccff,
    900: #dae6ff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #cfd8ff,
    A700: #b6c4ff
  )
);

$red-theme: (
  50: #fbe5e5,
  100: #f5bebe,
  200: #ee9393,
  300: #e76767,
  400: #e14747,
  500: #dc2626,
  600: #d82222,
  700: #d31c1c,
  800: #ce1717,
  900: #c50d0d,
  A100: #fff1f1,
  A200: #ffbebe,
  A400: #ff8b8b,
  A700: #ff7272,
  contrast: (
    50: #f5bebe,
    100: #c50d0d,
    200: #ce1717,
    300: #d31c1c,
    400: #d82222,
    500: #dc2626,
    600: #e14747,
    700: #e76767,
    800: #ee9393,
    900: #f5bebe,
    A100: #fff1f1,
    A200: #ffbebe,
    A400: #ff8b8b,
    A700: #ff7272
  )
);

$yellow-theme: (
  50: #fcf1e0,
  100: #f7dcb3,
  200: #f2c580,
  300: #edad4d,
  400: #e99c26,
  500: #e58a00,
  600: #e28200,
  700: #de7700,
  800: #da6d00,
  900: #d35a00,
  A100: #fffcfb,
  A200: #ffdcc8,
  A400: #ffbb95,
  A700: #ffab7b,
  contrast: (
    50: #fcf1e0,
    100: #d35a00,
    200: #da6d00,
    300: #de7700,
    400: #e28200,
    500: #e58a00,
    600: #e99c26,
    700: #edad4d,
    800: #f2c580,
    900: #f7dcb3,
    A100: #fffcfb,
    A200: #ffdcc8,
    A400: #ffbb95,
    A700: #ffab7b
  )
);

$green-theme: (
  50: #e6f5f0,
  100: #c0e5d9,
  200: #96d4bf,
  300: #6bc2a5,
  400: #4cb592,
  500: #2ca87f,
  600: #27a077,
  700: #21976c,
  800: #1b8d62,
  900: #107d4f,
  A100: #b0ffdb,
  A200: #7dffc4,
  A400: #4affac,
  A700: #30ffa1,
  contrast: (
    50: #e6f5f0,
    100: #107d4f,
    200: #1b8d62,
    300: #21976c,
    400: #27a077,
    500: #2ca87f,
    600: #4cb592,
    700: #6bc2a5,
    800: #96d4bf,
    900: #c0e5d9,
    A100: #b0ffdb,
    A200: #7dffc4,
    A400: #4affac,
    A700: #30ffa1
  )
);
